<div id="services"style="height: 305px">
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
         <div class="carousel-caption">
          <h2>{{slide.text}}</h2>
        </div>
     </uib-slide>
    </uib-carousel>
  </div>

  <h1>Servicessss</h1>
<div class="container-fluid bg-3 text-center">    
  <h3>What we do </h3><br>
  <div class="row">
    
    <div class="col-sm-3">
      <p>IT Products</p>
      <img ng-src="images/banner-consulting.png" class="img-responsive" style="width:100%" alt="Consulting"> <br>
      <p>We Bring world class technology and the best engineering resources to build our products. Our clients range from Small and medium businesses to large IT companies. We are currently focusing on Recruitment Technology and Human Resource Management systems.</p>
    </div>
    <div class="col-sm-3"> 
      <p>IT Services</p>
      <img ng-src="images/banner-products.png" class="img-responsive" style="width:100%" alt="Products"><br>
      <p>Our Service delivery model is designed to cater to a wide range of clientele. We offer Industry standard SLAs and unmatched service support. Our flexible Pay as you go model is easy on the budgets. Our Services are easy to implement and take under 24 hours to set up.</p>

    </div>
    <div class="col-sm-3"> 
      <p>IT Consulting</p>
      <img ng-src="images/banner-services.png" class="img-responsive" style="width:100%" alt="Services"><br>
      Beta Soft Systems is a relatively young company in the consulting space. But we are hungry to solve more and more business problems. We do not take our clients business lightly, That’s precisely why we believe in having our skin in the game.
    </div>
   
  </div>
</div>